<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Account</title>
    {% load static %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'rstpass.css' %}">
</head>
<body>

<section class="container">
    <form class="reset" method="post" action="{% url 'delacc' %}">
        {% csrf_token %}
        <header>Delete Account</header>
        {% if exist %}
        <p id="err">{{ exist }}</p>
        {% endif %}
        <input type="password" placeholder="Enter Password to Delete" class="password" name="cpass" autofocus required>
        <i class="bx bxs-hide eye-icon"></i>
        <div class="button">
            <a href="{% url 'userpf' %}">Cancel</a>
            <button type="submit">Submit</button>
        </div>

    </form>
</section>
<script src="{% static 'js/login.js' %}"></script>
</body>
</html>