<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Login</title>
</head>
<body>
<section class="container">
    <form class="login" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <header>Login</header>
        {% if exist %}
        <p id="err">{{ exist }}</p>
        {% endif %}
        <input type="email" placeholder="Enter Email" name="email" id="smail" autofocus required><br>
        <input class="password" type="password" placeholder="Enter Password" name="password" id="spass1" required>
        <i class="bx bxs-hide eye-icon"></i>
        <button type="submit">Login</button>
        <span style="font-size:13px;">Don't have an account yet?? <a href="{% url 'signup' %}" style="color:white;"
                                                                     class="link Login-link">Sign-Up</a></span>

    </form>
</section>
<script src="{% static 'js/login.js' %}"></script>
</body>

</html>